<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog Time</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Tech Blog Time</h1>
        <nav>
            <p>Homepage</p>
            <p>Dashboard</p>
            <p>Login</p>
        </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
        <h3>Made by Mark Napolitano</h3>
        <p>Contact Link</p>
    </footer>
</body>



</html>