<section>
  <h3>Update your blog</h3>
  <form class="update-blog-form">
    <div>
      <label for="blog-title">Blog Title:</label>
      <textarea id="blog-title" >{{title}}</textarea>
    </div>
    <div>
      <label for="blog-contents">Blog Contents:</label>
      <textarea id="blog-contents" >{{contents}}</textarea>
    </div>
    <div>
      <button type="submit">Submit Updated Blog</button>
    </div>
  </form>
</section>

<script src="/js/update.js"></script>